In [1]:
import pandas as pd

In [46]:
df2015 = pd.read_csv('data2015.csv')




df2015 = df2015.drop(index=[5,6,13,19,35,43,52,56])

df2015 = df2015.reset_index()

df2015

,index,Unnamed: 0,Dates,Top 10 Gross,%± LW,Overall Gross,%± LW.1,Releases,#1 Release,Week,Long Weekend
0,0,0,Dec 25-27,273024546,-9.8%,"$296,447,415",-5.4%,72,Star Wars: Episode VII - The Force Awakens,52,False
1,1,1,Dec 18-20,302697164,+353.8%,"$313,284,961",+304.5%,86,Star Wars: Episode VII - The Force Awakens,51,False
2,2,2,Dec 11-13,66695452,-23.1%,"$77,446,378",-20.8%,92,The Hunger Games: Mockingjay - Part 2,50,False
3,3,3,Dec 4-6Post-Thanksgiving,86761557,+27.4%,"$97,833,704",+25.1%,95,The Hunger Games: Mockingjay - Part 2,49,True
4,4,4,Nov 27-29Thanksgiving 3-Day,167805985,+10.5%,"$182,526,007",+11.4%,86,The Hunger Games: Mockingjay - Part 2,48,True
5,7,7,Nov 20-22,163255301,+74.4%,"$173,610,096",+60.7%,110,The Hunger Games: Mockingjay - Part 2,47,False
6,8,8,Nov 13-15,93635619,-37.1%,"$108,047,802",-33.3%,112,Spectre,46,False
7,9,9,Nov 6-8,148792362,+154.6%,"$161,918,615",+118.4%,112,Spectre,45,False
8,10,10,Oct 30-Nov 1,58434174,-34.9%,"$74,128,462",-29.9%,108,The Martian,44,False
9,11,11,Oct 23-25,89803867,-17.5%,"$105,775,731",-13%,110,The Martian,43,False
10,12,12,Oct 16-18,108805935,+1.9%,"$121,579,792",+2.2%,108,Goosebumps,42,False
11,14,14,Oct 9-11,106804689,-23.6%,"$118,992,658",-20.6%,112,The Martian,41,False
12,15,15,Oct 2-4,139834346,+11.3%,"$149,772,643",+8.7%,123,The Martian,40,False
13,16,16,Sep 25-27,125667878,+30.7%,"$137,820,669",+22.2%,118,Hotel Transylvania 2,39,False
14,17,17,Sep 18-20,96138932,+17.8%,"$112,827,167",+10.1%,114,Maze Runner: The Scorch Trials,38,False
15,18,18,Sep 11-13,81621359,+36%,"$102,512,365",+13.2%,110,The Perfect Guy,37,False
16,20,20,Sep 4-6,60032495,-5%,"$90,555,329",+3.1%,95,War Room,36,False
17,21,21,Aug 28-30,63160916,-26%,"$87,836,416",-17.6%,96,Straight Outta Compton,35,False
18,22,22,Aug 21-23,85356247,-34.2%,"$106,631,353",-28%,94,Straight Outta Compton,34,False
19,23,23,Aug 14-16,129704209,+14.5%,"$148,106,885",+12.3%,98,Straight Outta Compton,33,False
20,24,24,Aug 7-9,113252833,-16.8%,"$131,916,514",-9.8%,94,Mission: Impossible - Rogue Nation,32,False
21,25,25,Jul 31-Aug 2,136167805,-1.5%,"$146,282,363",-3.1%,95,Mission: Impossible - Rogue Nation,31,False
22,26,26,Jul 24-26,138254037,-22.5%,"$151,040,028",-22.1%,100,Ant-Man,30,False
23,27,27,Jul 17-19,178494977,-12%,"$193,925,542",-9.8%,100,Ant-Man,29,False
24,28,28,Jul 10-12,202943834,+59.8%,"$215,076,951",+58.9%,103,Minions,28,False
25,29,29,Jul 3-5,127004488,-27%,"$135,328,419",-26.5%,88,Inside Out,27,False
26,30,30,Jun 26-28,174073731,-27.1%,"$184,087,635",-25.8%,101,Jurassic World,26,False
27,31,31,Jun 19-21,238740396,-10.3%,"$248,039,944",-9.4%,90,Jurassic World,25,False
28,32,32,Jun 12-14,266035144,+116.7%,"$273,785,662",+106.2%,88,Jurassic World,24,False
29,33,33,Jun 5-7,122790825,-6.4%,"$132,771,309",-4.1%,89,Spy,23,False
30,34,34,May 29-31,131136807,-9.3%,"$138,472,506",-10.1%,83,San Andreas,22,False
31,36,36,May 22-24,144619728,-17.6%,"$154,080,020",-16.5%,92,Tomorrowland,21,False
32,37,37,May 15-17,175540242,+46.7%,"$184,554,442",+40.5%,93,Pitch Perfect 2,20,False
33,38,38,May 8-10,119640318,-46.6%,"$131,347,747",-43.6%,97,Avengers: Age of Ultron,19,False
34,39,39,May 1-3Mayweather/Pacquiao Fight,223967813,+179.5%,"$232,873,431",+139.1%,102,Avengers: Age of Ultron,18,False
35,40,40,Apr 24-26,80145066,-26.2%,"$97,392,898",-18.7%,117,Furious 7,17,False
36,41,41,Apr 17-19,108634824,-12%,"$119,720,998",-9%,111,Furious 7,16,False
37,42,42,Apr 10-12,123487605,-43%,"$131,496,504",-41.4%,103,Furious 7,15,False
38,44,44,Apr 3-5,216669859,+54.9%,"$224,366,628",+49.3%,96,Furious 7,14,False
39,45,45,Mar 27-29,139905374,+19.2%,"$150,316,547",+14.8%,98,Home,13,False
40,46,46,Mar 20-22,117323618,+1.5%,"$130,961,022",-0.5%,97,The Divergent Series: Insurgent,12,False
41,47,47,Mar 13-15,115580190,+60%,"$131,677,520",+47.3%,94,Cinderella,11,False
42,48,48,Mar 6-8,72251925,-19.2%,"$89,415,791",-16.3%,94,Chappie,10,False
43,49,49,Feb 27-Mar 1,89378196,-13.9%,"$106,785,872",-10.1%,98,Focus,9,False
44,50,50,Feb 20-22,103802091,-47.1%,"$118,837,843",-44.5%,90,Fifty Shades of Grey,8,False
45,51,51,Feb 13-15,196187392,+47.8%,"$213,956,193",+40.7%,88,Fifty Shades of Grey,7,False
46,53,53,Feb 6-8,132753774,+65.8%,"$152,017,118",+48.6%,95,The SpongeBob Movie: Sponge Out of Water,6,False
47,54,54,Jan 30-Feb 1,80089127,-41.3%,"$102,289,935",-35.9%,95,American Sniper,5,False
48,55,55,Jan 23-25,136480820,-23.7%,"$159,469,503",-21.5%,93,American Sniper,4,False
49,57,57,Jan 16-18,178963570,+70.9%,"$203,241,390",+60.9%,87,American Sniper,3,False
50,58,58,Jan 9-11,104708370,-16.8%,"$126,281,581",-18.6%,87,Taken 3,2,False
51,59,59,Jan 2-4,125851864,-29.5%,"$155,083,722",-26%,89,The Hobbit: The Battle of the Five Armies,1,False

In [47]:
df2015_Top10 = df2015[['Week','Top 10 Gross']]
df2015_Top10.rename(columns = {'Week':'Week2015', 'Top 10 Gross':'Top102015'}, inplace = True)
df2015_Top10

C:\Users\badar\AppData\Local\Temp\ipykernel_37216\2392206035.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2015_Top10.rename(columns = {'Week':'Week2015', 'Top 10 Gross':'Top102015'}, inplace = True)

    Week2015  Top102015
0         52  273024546
1         51  302697164
2         50   66695452
3         49   86761557
4         48  167805985
5         47  163255301
6         46   93635619
7         45  148792362
8         44   58434174
9         43   89803867
10        42  108805935
11        41  106804689
12        40  139834346
13        39  125667878
14        38   96138932
15        37   81621359
16        36   60032495
17        35   63160916
18        34   85356247
19        33  129704209
20        32  113252833
21        31  136167805
22        30  138254037
23        29  178494977
24        28  202943834
25        27  127004488
26        26  174073731
27        25  238740396
28        24  266035144
29        23  122790825
30        22  131136807
31        21  144619728
32        20  175540242
33        19  119640318
34        18  223967813
35        17   80145066
36        16  108634824
37        15  123487605
38        14  216669859
39        13  139905374
40        12  117323618
41        11  115580190
42        10   72251925
43         9   89378196
44         8  103802091
45         7  196187392
46         6  132753774
47         5   80089127
48         4  136480820
49         3  178963570
50         2  104708370
51         1  125851864

In [48]:
df2016 = pd.read_csv('data2016_real.csv')




df2016 = df2016.drop(index=[0,1,2,8,9,16,23,33,38,49,56,60])
df2016 = df2016.reset_index()

df2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          52 non-null     int64
 1   Unnamed: 0     52 non-null     int64
 2   Dates          52 non-null     object
 3   Top 10 Gross   52 non-null     int64
 4   %± LW          52 non-null     object
 5   Overall Gross  52 non-null     object
 6   %± LW.1        52 non-null     object
 7   Releases       52 non-null     int64
 8   #1 Release     52 non-null     object
 9   Week           52 non-null     int64
 10  Long Weekend   52 non-null     bool
dtypes: bool(1), int64(5), object(5)
memory usage: 4.2+ KB

In [49]:
df2016_Top10 = df2016[['Week','Top 10 Gross']]
df2016_Top10.rename(columns = {'Week':'Week2016', 'Top 10 Gross':'Top102016'}, inplace = True)

C:\Users\badar\AppData\Local\Temp\ipykernel_37216\2403892621.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2016_Top10.rename(columns = {'Week':'Week2016', 'Top 10 Gross':'Top102016'}, inplace = True)

In [50]:
df2017 = pd.read_csv('data2017.csv')



df2017 = df2017.drop(index=[0,2,8,9,16,22,32,39,46,54,61])
df2017 = df2017.reset_index()
df2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          52 non-null     int64
 1   Unnamed: 0     52 non-null     int64
 2   Dates          52 non-null     object
 3   Top 10 Gross   52 non-null     int64
 4   %± LW          52 non-null     object
 5   Overall Gross  52 non-null     object
 6   %± LW.1        52 non-null     object
 7   Releases       52 non-null     int64
 8   #1 Release     52 non-null     object
 9   Week           52 non-null     int64
 10  Long Weekend   52 non-null     bool
dtypes: bool(1), int64(5), object(5)
memory usage: 4.2+ KB

In [51]:
df2017_Top10 = df2017[['Week','Top 10 Gross']]
df2017_Top10.rename(columns = {'Week':'Week2017', 'Top 10 Gross':'Top102017'}, inplace = True)

C:\Users\badar\AppData\Local\Temp\ipykernel_37216\2703863396.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2017_Top10.rename(columns = {'Week':'Week2017', 'Top 10 Gross':'Top102017'}, inplace = True)

In [52]:
df2018 = pd.read_csv('data2018.csv')



df2018 = df2018.drop(index=[0,2,8,9,16,22,38,46,54,60])
df2018 = df2018.reset_index()

df2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          52 non-null     int64
 1   Unnamed: 0     52 non-null     int64
 2   Dates          52 non-null     object
 3   Top 10 Gross   52 non-null     int64
 4   %± LW          52 non-null     object
 5   Overall Gross  52 non-null     object
 6   %± LW.1        52 non-null     object
 7   Releases       52 non-null     int64
 8   #1 Release     52 non-null     object
 9   Week           52 non-null     int64
 10  Long Weekend   52 non-null     bool
dtypes: bool(1), int64(5), object(5)
memory usage: 4.2+ KB

In [53]:
df2018_Top10 = df2018[['Week','Top 10 Gross']]
df2018_Top10.rename(columns = {'Week':'Week2018', 'Top 10 Gross':'Top102018'}, inplace = True)

C:\Users\badar\AppData\Local\Temp\ipykernel_37216\3743976357.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2018_Top10.rename(columns = {'Week':'Week2018', 'Top 10 Gross':'Top102018'}, inplace = True)

In [54]:
df2019 = pd.read_csv('data2019.csv')



df2019 = df2019.drop(index=[5,6,14,20,35,41,52,56])
df2019 = df2019.reset_index()
df2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          52 non-null     int64
 1   Unnamed: 0     52 non-null     int64
 2   Dates          52 non-null     object
 3   Top 10 Gross   52 non-null     int64
 4   %± LW          52 non-null     object
 5   Overall Gross  52 non-null     object
 6   %± LW.1        52 non-null     object
 7   Releases       52 non-null     int64
 8   #1 Release     52 non-null     object
 9   Week           52 non-null     int64
 10  Long Weekend   52 non-null     bool
dtypes: bool(1), int64(5), object(5)
memory usage: 4.2+ KB

In [55]:
df2019_Top10 = df2019[['Week','Top 10 Gross']]
df2019_Top10.rename(columns = {'Week':'Week2019', 'Top 10 Gross':'Top102019'}, inplace = True)

C:\Users\badar\AppData\Local\Temp\ipykernel_37216\3940492425.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2019_Top10.rename(columns = {'Week':'Week2019', 'Top 10 Gross':'Top102019'}, inplace = True)

In [56]:
week_count = []
for i in range(52):
    week_count.append(52-i)
week_column = pd.DataFrame(week_count)
week_column.rename(columns = {0:'Week'}, inplace = True)
week_column

    Week
0     52
1     51
2     50
3     49
4     48
5     47
6     46
7     45
8     44
9     43
10    42
11    41
12    40
13    39
14    38
15    37
16    36
17    35
18    34
19    33
20    32
21    31
22    30
23    29
24    28
25    27
26    26
27    25
28    24
29    23
30    22
31    21
32    20
33    19
34    18
35    17
36    16
37    15
38    14
39    13
40    12
41    11
42    10
43     9
44     8
45     7
46     6
47     5
48     4
49     3
50     2
51     1

# Combine dfs together

In [60]:
result = pd.concat([df2015_Top10['Top102015'], df2016_Top10['Top102016'], df2017_Top10['Top102017'], df2018_Top10['Top102018'], df2019_Top10['Top102019']], axis=1, join='inner')
# result.drop('Week2015', inplace = True,axis = 1)
# result.drop('Week2016', inplace = True,axis = 1)
# result.drop('Week2017', inplace = True,axis = 1)
# result.drop('Week2018', inplace = True,axis = 1)
# result.drop('Week2019', inplace = True,axis = 1)
result['mean'] = result.mean(axis=1)
result = pd.concat([result, week_column], axis = 1, join = 'inner')
result

    Top102015  Top102016  Top102017  Top102018  Top102019         mean  Week
0   273024546  165020197  173344651  165718403  186795018  192780563.0    52
1   302697164  203485726  164303262  163297800  243217105  215400211.4    51
2    66695452   71566771  267186366  101640559  110431501  123504129.8    50
3    86761557   83749622   70644026   73877715   79725257   78951635.4    49
4   167805985  170608751   96708952  106190738  167269352  141716755.6    48
5   163255301  146558755  178495539  203836618  190145821  176458406.8    47
6    93635619  145898093  192816366  161437498   89599064  136677328.0    46
7   148792362  180664140  137873693  152580543  100490654  144080278.4    45
8    58434174   74204699  164643982  129384786   99329393  105199406.8    44
9    89803867  109125994   57899380   90992092   91497737   87863814.0    43
10  108805935   84988876   76408192  155990869  129825817  111203937.8    42
11  106804689   93110131   88765700  126136778  132906213  109544702.2    41
12  139834346  102190772   97001069  168979851  142713298  130143867.2    40
13  125667878   92840344   80260428   92141186   83354126   94852792.4    39
14   96138932   71090385  108472634   78315568  113373910   93478285.8    38
15   81621359   80346710  101574131   94001600   97031904   90915140.8    37
16   60032495   66887892  153028668  106333196  123496912  101955832.6    36
17   63160916   91226565   48865218   73798836   63928598   68196026.6    35
18   85356247  112417199   46116140   84558009   87899112   83269341.4    34
19  129704209  153823583   75677045  110718157  101857634  114356125.6    33
20  113252833  217747182   95249031  126978553  121235199  134892559.6    32
21  136167805  174855310  105440174  119739621  143893312  136019244.4    31
22  138254037  178420955  134073732  143331278  155622904  149940581.2    30
23  178494977  151409743  172931486  157376958  253574574  182757547.6    29
24  202943834  205989677  156068438  154037869  114124922  166632948.0    28
25  127004488  179579258  198323345  176800250  174209668  171183401.8    27
26  174073731  177111633  157207541  167201140  138825078  162883824.6    26
27  238740396  223184760  130023273  269388336  189899923  210247337.6    25
28  266035144  139567249  178932468  258481930  123601448  193323647.8    24
29  122790825  123684021  137307539  109660193  158327825  130354080.6    23
30  131136807  157294653  179022383   97051566  167597113  146420504.4    22
31  144619728  128324753  133992099  175038242  173109025  151016769.4    21
32  175540242  123025320  115331687  200438167  139901024  150847288.0    20
33  119640318  232395976  124517741  126696435  160271263  152704346.6    19
34  223967813   96937478  184356127  158985116  193910218  171631350.4    18
35   80145066  117626464   80793191  303012371  396469872  195609392.8    17
36  108634824  165029225   90926040  106600851   95279443  113294076.6    16
37  123487605   91145188  155863273  131792250  100437182  120545099.6    15
38  216669859  118559272  106287914  140865614  137908217  144058175.2    14
39  139905374  243491430  161650523  115250516  129484146  157956397.8    13
40  117323618  115774645  192647503  108669222  139284316  134739860.8    12
41  115580190  118186835  252225276  118810762  126418468  146244306.2    11
42   72251925  142568989  149362845  123134923  198063125  137076361.4    10
43   89378196   91278176  168014995  134280505   94364496  115463273.6     9
44  103802091  121119706  103860378  177068935  110669509  123304123.8     8
45  196187392  215810637  128860229  267360455  105197571  182683256.8     7
46  132753774   75395999  171094497  113834248   95027517  117621207.0     6
47   80089127  118353833   75662315   65718354   52087190   78382163.8     5
48  136480820   95736903  111650133  102483376   73819238  104034094.0     4
49  178963570  145502232  120214041  104176178  109523159  131675836.0     3
50  104708370  142912699  119057524  129325213   96775974  118555956.0     2
51  125851864  198537624  120491633  144171701  119007739  141612112.2     1

In [61]:
result.to_csv('Avgof2015to2019.csv')